pandas
numpy
matplotlib
seaborn
jupyterlab # or notebook
nltk
textblob
scikit-learn # For TF-IDF, etc.
yfinance  # For fetching stock data
TA-Lib    # For technical indicators (Installation can be tricky!)
